@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #394976;
  --color-secondary: #008940;
  --color-tertiary: #FFFFFF;
  
  --font-sans: "Jura", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-[#0f172a] text-slate-200;
  }
}
